@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Fira+Sans:wght@300&family=Fondamento:ital@0;1&family=Ibarra+Real+Nova:ital,wght@0,700;1,700&family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
.header{
    padding: 0 4.6rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.header .logo{
    height: 20rem;
}
.navbar-list{
    display: flex;
    gap: 4.8rem;
    list-style-type: none;
}
.navbar-links:link, .navbar-links:visited{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    transition: all 0.3s;
}
.navbar-links:hover, .navbar-links:active{
    color: #455444;
}
.mobilenavbar-button{
    display: none;
    background: transparent;
    cursor: pointer;
}
.mobilenavbar-icon{
    width: 4rem;
    height: 4rem;
    color: #000;
}
.mobilenavbar-icon[name="close-outline"]{
    display: none;
}


/*Homepage Designing*/
.homepage{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
    grid-template-rows: 60rem;
    gap: 18px;
}
.homepage-image{
    position: relative;
}
.homepage-image img{
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: repeat(2, 20rem);  
}
.homepage-text{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:200px 150px ;
    margin-top: 150px;  
}
.homepage-text .text{
    grid-row:1/2;
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
}
.homepage-text .text h1{
    font-size: 48px;
    font-weight: 900;
    font-family: 'Alkalami', serif;
}
.homepage-text .text p{
    font-size: 15px;
    font-family: 'Ibarra Real Nova', sans-serif;
    text-align: justify;

}
.homepage .button{
    position: relative;
    margin-top: 60px;
    grid-row:2/-1;
}
.homepage .button a{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    margin:50px 15px 20px 15px;

}
.homepage .button .button-product{
    background:#47baeb;
    color: #fff;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px;
}
.homepage .button .button-contact{
    background-color: #fff;
    color: #2f6082;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px;
}
/*Home End*/
/* Service Section*/
.services{
    margin-top: 12rem;
    padding: 0;
}
.services .title{
    text-align: center;
    margin-bottom: 25px;
}
.services .title h1{
    font-size: 34px;
    font-family: 'Ibarra Real Nova', sans-serif;

}
.services .title p{
    font-size: 15px;
    margin-top: 12px;
    font-family: 'Ibarra Real Nova', sans-serif;
}
.services-cards{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.services-cards .card{
    background:#fff;
    border: 2px solid #000;
    padding: 0px 20px 10px 20px;

}
.services-cards .card h3{
    font-size: 20px;
    font-family:sans-serif;
    font-weight: 600;

}
.services-cards .card p{
    font-size: 15px;
    padding: 5px;
    text-align: justify;

}
.services-cards .icon{
    margin: 5px;
    padding: 10px;
    border: 2px solid #000;
    background: #47baeb;
    color: #fff;
    border-radius:50%;
    font-size: 40px;
    font-weight: 900;
}

/*Service Section End*/
/*-----------Projects-------------*/
.project{
    margin-top: 40px;
    padding-top: 100px;
    width: 100%;
    background: rgb(220, 220, 220);
}
.project a{
    position: absolute;
    right: 50px;
    bottom: 5rem;
}
.project .project-title{
    text-align: center;
}

.project .project-title h1{
    font-size: 34px;
    
}
.project .project-title p{
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 50px;
    font-family: 'Ibarra Real Nova', sans-serif;
}
.project .project-cards{
    margin:auto;
    width: 90%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill,  minmax(30%, 1fr));
    grid-template-rows: 1, 1fr;
    gap: 3rem;
}
.project .project-cards .cards-project{
    background: url("img/pexels-kiara-coll-2928381.jpg");
    object-fit:fill;
    border: 2px solid #000;
    padding: 300px 0px 20px 20px;
    margin-bottom: 150px;
}
.project .project-cards .cards-project h5{
    font-size:12px;
    margin-bottom: 10px;
}
.project .project-cards .cards-project h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.project .project-cards .cards-project a{
    border: 2px solid #000;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.project .project-cards .cards-project .Readmorebtn{
    padding: 5px;
}


/*-----------------Rating Section start--------------------------*/

.rating-section{
    position: relative;
    width: 90%;
    margin:2.5rem  auto;
}
.rating-section .title{
    text-align: center;
}
.rating-section .title h2{
    font-size: 34px;
}
.rating-section .title p{
    font-size: 15px;
}
.rating-section .box{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill,  minmax(22%, 1fr));
    grid-template-rows: 1 1fr;
    padding: 30px 0px;
    margin: 3rem auto;
    gap:2%;
}
.rating-section .box .container{
    color: #000;
    background: #fff;
    text-align: center;
    padding: 2rem;
    border: 1px solid #2f6082;
    
}
.rating-section .box .container:hover{
    box-shadow: 0px 10px 2px #47baeb;
}
.rating-section .box .container h1{
    font-size: 4.8rem;
    margin: 3rem auto;
}
.rating-section .box .container h2{
    font-size: 25px;
    margin-bottom: 2rem;
}
.rating-section .box .container .rating{
    font-family: 'Oswald', sans-serif;
}
.rating-section .box .container .rating::after{
    content: "+";


}
.rating-section .box .container .icon{
    margin: 1rem auto;
    font-size: 3.5rem;
    
}
/*-----------------Rating Section End--------------------------*/
/*--------------------------Testimonials-------------------------*/
.testimonial-section{
    width: 90%;
    margin: 10rem auto;
    box-shadow: #000;
    
}
.testimonial-section .title{
    text-align: center;
    margin-bottom: 5rem;
}
.testimonial-section .title h2{
    font-size: 34px;
}
.testimonial-section .title p{
    font-size: 15px;
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.swiper-client-msg{
    padding: 5rem 8rem;
    background: #47baeb;
    border-radius: 1rem;
    text-align: justify;
    color: #fff;
    box-shadow: #fff;
    position: relative;
}
.swiper-client-msg::before{
    content: "";
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translateX(-50%);
    border: 5rem solid #fff;
    border-color: transparent;
    border-top-color: #47baeb;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.swiper-client-data{
    align-items: center;
    margin-top: 3.2rem;
    gap: 2rem;
}
.swiper-client-msg p::before{
    content: "\f10d";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    top:0;
    left: 2rem;
    font-size: 5rem;
    color: #fff;
}
.swiper-client-msg p::after{
    content: "\f10e";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    bottom:0;
    right: 2rem;
    font-size: 5rem;
    color: #fff;
}
.swiper-slide img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: .5rem solid var(--helper-tint);
}
/* Testimonials Section end*/
/*-----------Brands----------------------*/
.team{
    background:rgb(220, 220, 220) ;
    padding: 5.6rem;
}
.team .title{
    text-align: center;
    margin-bottom: 4.5rem;
}
.team .title h2{
    font-size: 3.4rem;
}
.brands .swiper-slide{
    background: rgb(220,220,220);
}
.team .swiper-slide .icon-brand{
    font-size: 98px;
    color: #000;
}
/*------------Team Member-------------------*/
.team-members .title{
    text-align: center;
    margin:  10.2rem auto;
}
.team-members .title h2{
    font-size: 34px;
}
.team-members .title p{
    font-size: 15px;
}
.team-members .grid-team{
    width: 90%;
    position: relative;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}
.grid-team img{
    text-align: center;
    width: 100px;
    height: 200px;
}
.team-members .grid-team .team-card{
    display: grid;
    grid-template-columns: 1 1fr;
    grid-template-rows: 1fr .2fr 10px;
    align-items: center;
    }
.team-members .grid-team .team-card img{
    justify-self: center;
    object-fit: cover;
    width: 100%;
}
.team-members .grid-team .team-card h2, p{
    justify-self: center;
}
.team-members .grid-team .team-card h2{
    font-size: 2rem;
}
/*----------------team member section end --------------------------------------*/
/*----------------contact us section start --------------------------------------*/

.contact-us{
   
    background: linear-gradient(rgba(250, 250, 250, 0.20),  rgba(255, 255, 255, 0.45)),url("img/pexels-vinta-supply-co-_-nyc-842948.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.contact-us .title{
    padding-top: 10rem;
    text-align: center;
}
.contact-us .title h2{
    font-size: 34px;
}
.contact-us .title p{
    padding-top: 2rem;
    font-size: 15px;
}
.contact-us .three-grid{
    width: 70%;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr .5fr .1fr;
    gap: 1rem;
}
.contact-us .contact-form{
    grid: 1/2;
    justify-self: stretch;
    background-color: #000;
    opacity: .5;
}
.contact-us .map{
    grid: 2/3;
    background: #000;
    justify-self: stretch;
    justify-self: end;
}
.contact-us .details{
    grid-column-start: 1;
    grid-column-end: -1;
    background: #000;
    opacity: .5;
    color: #fff;
}
.contact-us .details{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 1fr;
}
.three-grid .details .center-align{
    justify-self: center;
    align-self: center;
}
.details-icon{
    font-size: 34px;
    text-align: center;
}
.details-icon .icon-con{
    margin: 1.8rem;
}
/*======================================================
=====Mobile View====================================
================================================*/
@media (max-width:980px) {
    html{
        overflow-x: hidden;
    }
    .mobilenavbar-button{
        display: block;
        z-index: 999;
        border: 3px solid #000;
    }
    .header .logo{
        width: 250px;
    }
    .navbar{
        width: 100%;
        height: 100vh;
        background: rgb(250, 248, 248);
        position: absolute;
        top:0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all .5s linear;
        opacity: 1;
        visibility:none;
    }
    .navbar-list{
        flex-direction: column;
        align-items: center;
    }

    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        z-index: 1;
        visibility: visible;
        background-color: #47baeb;
        border: 2px solid #000;
        pointer-events: auto;
    }
    .active .mobilenavbar-button .mobilenavbar-icon[name="close-outline"]{
        display: block;
    }
    .active .mobilenavbar-button .mobilenavbar-icon[name="menu-outline"]{
        display: none;
    }
    /*Navbar End*/


    /*Homepage start*/
    .homepage-text .text h1{
        font-size: 38px;
    }
    .homepage-text .text p{
        font-size: 12px;
        text-align: justify;
    }
   .homepage-image img{
    display: none;
   } 
   /*Service Section Start*/
   .services-cards{
    width: 90%;
    margin: auto;
    display: grid;
    
    gap: 20px;
   }
   .services-cards .card{
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1/-1;
   }
   /*--------------------------Service Section Done-----------------------------*/
    /*------------------Rating section start-------------*/
   .rating-section{
    
    width: 90%;
    margin: 5rem auto;
    display: grid;
    gap: 20px;
   }
   .rating-section .container{
    grid-template-columns:1, 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column: 1/-1;
   }
   /*------------------Rating section End-------------*/

   /*------------------Project section start-------------*/
   .project{
    display: grid;
    width: 90%;
    margin: auto;
    gap: 20px;
   }
   .project .cards-project{
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1/-1;
   }
   .project .project-cards .cards-project{
    margin-bottom: 20px;
   }
      /*------------------Project section End-------------*/

}
